<h2> {{text}} </h2>
<mat-divider [inset]="true"></mat-divider>

<div class="mt-10">

  <mat-chip-list>

    <div fxLayout="column">

      <div fxLayout="row" >
        <div>
          <span><small> Main&nbsp;&nbsp; </small></span>
          <mat-chip [color]="firstElementColor" selected>
            {{firstElement}}
          </mat-chip>
        </div>
      </div>

      <div *ngIf="array.length>0">
        <span><small> Others </small></span>
        <mat-chip *ngFor="let element of array">
          {{ element }}
        </mat-chip>
      </div>

    </div>

  </mat-chip-list>

</div>
