<h2> {{text}} </h2>
<mat-divider [inset]="true"></mat-divider>

<div class="mt-10">

  <mat-chip-list>

    <div fxLayout="column">

      <div>
        <small [class]="firstElementColor">Main </small>
        <mat-chip [color]="firstElementColor" selected>
          {{firstElement}}
        </mat-chip>
      </div>

      <div>
        <small>Others </small>
        <mat-chip *ngFor="let element of array">
          {{ element }}
        </mat-chip>
      </div>

    </div>

  </mat-chip-list>

</div>
