<h1>Most Famous Ninjas in {{animeName}}</h1>
<mat-divider></mat-divider>

<div  fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="2rem">

  <div  fxFlex="30"
        fxFlex.lg="20"
        fxFlex.sm="30"
        *ngFor="let ninja of ninjas">
    <app-ninja-card [ninja]="ninja"></app-ninja-card>
  </div>

</div>

<!-- <mat-grid-list cols="3">

  <mat-grid-tile *ngFor="let ninja of ninjas; let i=index">
    <mat-card class="ninja-card">
  </mat-grid-tile>

</mat-grid-list> -->
