<mat-grid-list cols="1" *ngIf="!ninja; else divNinja">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divNinja>

  <h1> {{ninja.name}} <small>of {{ninja.village}} </small></h1>
  <mat-divider></mat-divider>
  <br>

  <div fxlayout="row"
       fxLayout.xs="column"
       fxLayoutGap="30px">

      <div fxFlex="60">
        <img [src]="ninja | image" onerror="">
      </div>

      <div fxFlex="40">

        <mat-card>

          <mat-card-content>

            <app-array-chips
              text="Chackra Natures"
              [array]="ninja.chakra_affinity"
              firstElementColor="warn">
            </app-array-chips>

            <app-array-chips
              text="Techniques"
              [array]="ninja.techniques"
              firstElementColor="primary">
            </app-array-chips>

          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-button
                    color="warn"
                    (click)="return()">
            Regresar
            </button>
          </mat-card-actions>

        </mat-card>

      </div>


  </div>

</ng-template>

