<mat-card>

  <mat-card-header>
    <img mat-card-avatar
         [src]="ninja | image:'avatar'"
         onerror="this.src='assets/images/no-village.png'"
    >
    <!-- src="assets/images/villages/{{ninja.village}}.png" -->

    <mat-card-title> {{ ninja.name }} </mat-card-title>
    <mat-card-subtitle> <strong> Village: </strong> {{ ninja.village }} </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
       class="ninja-image"
       [src]="ninja | image"
       onerror="this.src='assets/images/no-image.png'"
  >
  <!-- src="assets/images/ninjas/{{ninja.id}}.png" -->

  <mat-card-content>
    <p><strong>Chakra Affinity: </strong> {{ninja.chakra_affinity}} </p>
    <p><strong>Main technique: </strong> {{ninja.main_technique}} </p>
  </mat-card-content>
  <mat-divider inset></mat-divider>

  <mat-card-actions fxLayoutGap="5px">
    <button mat-stroked-button
            [routerLink]="['/ninjas', ninja.id]"
            color="accent">
            Read more...</button>
    <button mat-flat-button
            [routerLink]="['/ninjas/edit', ninja.id]"
            color="primary">
            Edit</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>

</mat-card>
