<mat-card>

  <mat-card-header>

    <img mat-card-avatar
         [src]="ninja | image:'avatar'"
         onerror="this.src='assets/images/no-village.png'"
    >
    <!-- src="assets/images/villages/{{ninja.village}}.png" -->
    <mat-card-title>
      {{ ninja.name }}
    </mat-card-title>

    <mat-card-subtitle>
      Origin: <small>{{ ninja.village }}</small>
    </mat-card-subtitle>

  </mat-card-header>

  <img mat-card-image
       class="ninja-image"
       [src]="ninja | image"
       onerror="this.src='assets/images/no-image.png'"
  >
  <!-- src="assets/images/ninjas/{{ninja.id}}.png" -->

  <mat-card-content>

    <span> Ninja Chakra Affinity: </span>
    {{ ninja.chakra_affinity[0] }}

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions fxLayoutGap="5px" fxLayoutAlign="space-between start">

    <button mat-stroked-button
            [routerLink]="['/ninjas', ninja.id]"
            color="accent">
            Read more...</button>
    <button mat-flat-button
            [routerLink]="['/ninjas/edit', ninja.id]"
            color="primary">
            Edit</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </mat-card-footer>

</mat-card>
